# --- Segurança e ambiente ---
.env
.env.*
!.env.example

# --- Dependências ---
node_modules/
jspm_packages/
.pnp
.pnp.js

# --- Build ---
dist/
build/
out/
target/
*.tsbuildinfo

# --- Binários ---
*.exe
*.dll
*.so
*.dylib

# --- Logs ---
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# --- Runtime ---
pids
*.pid
*.seed
*.pid.lock

# --- Relatórios ---
.security-reports/

# --- Testes ---
coverage/
.nyc_output/
.jest/
.vitest

# --- Cache ---
.eslintcache
.stylelintcache
.cache/
.parcel-cache
.next/
.nuxt/

# --- npm ---
.npm
*.tgz

# --- IDE ---
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# --- Segurança (chaves) ---
*.pem
*.key
*.pub
*.cert
*.pfx
*.crt

# --- Terraform ---
.terraform/
*.tfstate
*.tfstate.backup